@model policeDataApi_Practice.ViewModels.SelectStreetCrimeDateViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search for Crimes</h1>


@{ 
    if (Model.CrimesLoaded == true)
    {
        <div>
            <div>
                <h2>Crimes for @Model.Month, @Model.Year</h2>
                <h4>Total Crimes in @Model.Postcode.data.postcode Area Over Selected Period: @Model.Crimes.Count()</h4>
            </div>
            @*<div>
                @foreach( var crime in Model.Crimes)
                {
                    <h3>@crime.category</h3>
                    <p>@crime.location.street.name</p>
                }
            </div>*@
            <div id="accordion">
                @foreach (var item in Model.Categories)
                {
                <div class="card">
                    <div class="card-header" id="@item">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#{@item}" aria-expanded="true" aria-controls="@item">
                                @item
                            </button>
                        </h5>
                    </div>
                    @foreach (var crime in Model.Crimes)
                    {
                        if (crime.ToString() == @item)
                        {
                            <div id="@item" class="collapse show" aria-labelledby="@item" data-parent="#accordion">
                                <div class="card-body">
                                    <p>@crime.location.street</p>
                                    <p>@crime.outcome_status</p>
                                </div>
                            </div>
                        }
                    }
                </div>

                }
            </div>
        </div>

        @*<div id="accordion">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            View All Crimes By Category
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            
        </div>*@


    }
        else
        {
        <form asp-controller="FilterStreetCrimes" asp-action="Index" method="post">
            <div>
                <label asp-for="PostcodePartOne"></label>
                <input class="form-control" asp-for="PostcodePartOne" />
                <label asp-for="PostcodePartTwo"></label>
                <input class="form-control" asp-for="PostcodePartTwo" />
            </div>
            <div>
                <select asp-for="Month" asp-items="Model.Months">
                    <option>Please select one</option>
                </select>
                <select asp-for="Year" asp-items="Model.Years">
                    <option>Please select one</option>
                </select>
            </div>

            <input type="submit" />

        </form>
        }
    }
